.leftSideForm {
  margin-top: 117px;
}
.dropdownTitle {
  margin-bottom: 15px;
  margin-top: 10px;
}
.dropdownTitle h3 {
  font-family: monospace;
  color: #1c2541;
}
.firstBand {
  width: 156px;
}
.secondBand {
  width: 156px;
}
.thirdBand {
  width: 156px;
}
.fourthBand {
  width: 156px;
}
.calculationButton {
  margin-left: 18px;
  margin-top: 20px;
}
.calculateOhms {
  width: 120px;
  border-radius: 6px;
  background-color: white;
  color: #1c2541;
  border: 1px solid #0d3b66;
  font-family: monospace;
  font-size: revert;
}
.calculateOhms:hover {
  background-color: #0d3b66;
  color: white;
}
