.leftSide {
  width: 500px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
.title {
  text-align: center;
}
.leftSideForm {
  margin: 25px 50px;
}
.dropdownTitle {
  margin-bottom: 15px;
  margin-top: 10px;
}
.dropdownTitle h3 {
  font-family: monospace;
}
.firstBand {
  width: 156px;
}
.secondBand {
  width: 156px;
}
.thirdBand {
  width: 156px;
}
.fourthBand {
  width: 156px;
}
.calculationButton {
  margin-left: 50px;
}
.calculateOhms {
  width: 138px;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}
.calculateOhms:hover {
  background-color: #4caf50;
  color: white;
}
