.rightSide {
  text-align: center;
  width: 500px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
.imageContainer img {
  width: 270px;
}
.resultContainer {
  background: white;
  margin-top: 20px;
  padding: 30px;
  width: 250px;
  border: 1px solid black;
  position: absolute;
  left: 42%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 3px 0px rgba(0, 0, 0, 0.12);
}
.firstColorBand {
  height: 61px;
  width: 15px;
  position: absolute;
  left: 695px;
  top: 14%;
}
.secondColorBand {
  height: 57px;
  width: 15px;
  position: absolute;
  left: 715px;
  top: 14%;
}
.thirdColorBand {
  height: 54px;
  width: 15px;
  position: absolute;
  left: 735px;
  top: 14%;
}
.fourthColorBand {
  height: 57px;
  width: 15px;
  position: absolute;
  left: 776px;
  top: 14%;
}
